:root {
    --verdeCyan: hsl(171, 66%, 44%);
    --azulClaro: hsl(233, 100%, 69%);
    --blanco: white;
    --negro: black;

    --grisAzulado: hsl(210, 10%, 33%);
    --grisClaro: hsl(201, 11%, 66%);
    --ff: 'Bai Jamjuree', sans-serif;
    --fw_bold: 600;
    --fsAll:18;
}

body {
    
    padding: 0 8.5vw ;
    text-align: center;

    max-width: 1440;
    font-family: var(--ff);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--fsAll);
    color: var(--grisClaro);
    position: relative;
}

h1, h2, h3, span{
    color: var(--negro);
}

h3{
    font-size: 1.625rem;
}

span{
    font-size: 1.5rem;
    font-weight: var(--fw_bold);
}

a, li{
    text-decoration: none;
    list-style: none;
    color: inherit;
}

img{
    display: block;
}


.header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
        .header__bkg{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }

        .header__h1 {
            font-size: 0;
        }

        .header__img {
            margin-top: 7.5rem;
        }

        .header__h2 {
            margin-top: 4.375rem;
            font-size: 2rem;
        }

        .header__p,
        .snippets__p {
            margin-top: 1rem;
        }


        /*---BOTONES---*/

        .header__buttons {
            margin: 1.25rem 0 10rem 0;
        }

        .button {
            margin: 0.5rem 0;
            padding: 1.125rem 2.25rem;
            border-radius: 1.7188rem;
            border: 0;
            font-weight: var(--fw_bold);
            color: var(--blanco);
            background-color: var(--verdeCyan);
        }

        .button:last-child {
            background-color: var(--azulClaro);
        }


        /*---FIN BOTONES---*/

.main{
    
}

.snippets{
   
}

        .snippets__h3{
        
        }

        .snippets__p{
            margin-top: 16px;
        }

        .snippets_content{
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
        }

        .snippets__img{
            width: 100%;
            margin-top: 70px;
        }

        .snippets__caract{
        } 

        .caract{}

        .caract__items{
            margin-top: 50px;
            
        }

        .caract__spam{}

        .caract__p{
        
        }

.access{
    margin-top: 190px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

        .access__h3{

        }

        .access__p{
            margin-top: 1.5625rem;
        }

        .access__img{
            width: 100%;
            margin-top: 3.75rem;
        }


.workflow{
        margin-top: 95px;
}

        .workflow__h3{

        }
        
        .workflow__p{

        }
        
        .workflow__div{
        }
        
        .workflow__item{

        } 
        
        .item{
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
        }
        
        .item__img{

        }
        
        .item__span{

        }
        
        .item__p{

        }